 /*图片列表标题特效*/
.boxgrid img{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0; 
}
.boxcaption{ 
	float: left; 
	position: absolute; 
	background: #000; 
	height: 100px; 
	width: 100%; 
	opacity: .8; 
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.captionfull .boxcaption {
	top: 260;
	left: 0;
}
.caption .boxcaption {
	top: 220;
	left: 0;
}
.boxgrid_title{
	font-size:14px;
	font-weight:bold;
	padding:4px 5px 0 10px;
	color:white;
}
.boxgrid_con{
	font-size:12px;
	padding:4px 5px 0 10px;
	color:white;
}

.framegrid_cover{
	position:absolute;
	width:200px;
	background-color:#343434;
	color:white;
	opacity: .8; 
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	left:8px;
}
.framegrid a{
	text-decoration:none;
	color:white;
}
.framegrid a:hover{
	text-decoration:none;
	color:white;
}
.framegrid{
	position:relative;
	float:left;
}
.framegrid_title{
	font-size:14px;
	font-weight:bold;
	padding:3px 5px 0 10px;
	color:white;
	overflow:hidden;
}
.framegrid_con{
	font-size:12px;
	padding:2px 5px 0 10px;
	color:white;
	overflow:hidden;
}
 /*图片列表标题特效*/
.clear{
	clear:both;
	line-height:1px;
}
/*图片列表边框*/

.picItem{
	width: 302px;
	float: left;
	margin-right: 0;
	margin-left: 0;
	margin-top: 5px;
	height:242px;
	cursor:pointer;
	cursor:hand;
}
.picItem .details{
	background-image: url(pic/item_frame_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.picItem .details img {
	padding-top: 9px;
	padding-left: 52px;
	width:200px;
	height:110px;
}
.picItemOver{
	width: 300px;
	height:240px;
	border: 1px solid #ccc;
}
.picItemOver .details{
	background-image: url(pic/item_frame_bg_over.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}	
.picItemOver .details img{
	padding-top: 9px;
	padding-left: 52px;
	width:200px;
	height:110px;
}
.picItem_title{
	font-size:16px;
	font-weight:bold;
	padding:15px 0 15px 50px;
}
.picItem_con{
	padding:15px 0 15px 40px;
}

.picItem2{
	width: 230px;
	float: left;
	margin-right: 0;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url(pic/item_frame_bg2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

.picItem2 img {
	padding-top: 9px;
	padding-left: 8px;
	padding-bottom: 9px;
	width:200px;
	height:110px;
}

.picItem3{
	width: 230px;
	margin-right: 0;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url(pic/item_frame_bg2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

.picItem3 img {
	padding-top: 9px;
	padding-left: 8px;
	padding-bottom: 9px;
	width:200px;
	height:110px;
}
/*图片列表边框*/