.float_left{
	float:left;
}
.float_right{
	float:right;
}
.clear{
	clear:both;
}
.padding5{
	padding:5px;
}
.padding_top4{
	padding-top:4px;
}
/*分页样式*/
.paging{}
.paging span{
	display:block;
	float:left;
	margin:0 0 0 5px;
	font-family: Arial;
	padding:0!important;
}
.paging a{
	padding:0 6px 0 6px!important;
	border:solid 1px #cccccc;
	background-color:#edf7f9;
	height:19px;
	line-height:19px;
}
.paging a:hover{
	color:white;
	text-decoration:none;
	background-color:#3366cc;/*鼠标悬停背景色*/
	border:solid 1px #193d84;/*鼠标悬停边框色*/
}
.paging_disabled a{
	color:#cccccc!important;
	cursor:default!important;
}
.paging_disabled a:hover{
	color:#cccccc!important;
	background-color:#edf7f9!important;
	border:solid 1px #cccccc!important;
}
.paging_current a{
	color:white!important;
	cursor:default!important;
	background-color:#3366cc!important;/*鼠标悬停背景色*/
	border:solid 1px #193d84!important;/*鼠标悬停边框色*/
}
 /*分页样式*/