/*nav_menu_v结构*/
.menu_v_bg{
	height:180px;
	width:220px;
	background-color:#958d82;
}
.imenus_v_main{
	width:180px;
	z-index:8;
	position:absolute;
	left:20px;
}
.imenus_v .imeam_icon2 span{background-image:url(navMenu/icon01.png); width:18px; height:16px; left:-160px; top:4px; background-repeat:no-repeat;background-position:top left;}
.imenus_v .imeam_icon4 span{background-image:url(navMenu/icon02.png); width:18px; height:16px; left:-160px; top:4px; background-repeat:no-repeat;background-position:top left;}
.imenus_v .imeam_icon6 span{background-image:url(navMenu/icon03.png); width:18px; height:16px; left:-160px; top:4px; background-repeat:no-repeat;background-position:top left;}
.imenus_v .imeam_icon7 span{background-image:url(navMenu/icon04.png); width:18px; height:16px; left:-160px; top:4px; background-repeat:no-repeat;background-position:top left;}
.imenus_v .imeam_icon10 span{background-image:url(navMenu/icon05.png); width:18px; height:16px; left:-160px; top:4px; background-repeat:no-repeat;background-position:top left;}
.imenus_v .imeam_icon11 span{background-image:url(navMenu/icon06.png); width:18px; height:16px; left:-160px; top:4px; background-repeat:no-repeat;background-position:top left;}
.imenus_v .imeam_icon14 span{background-image:url(navMenu/icon07.png); width:18px; height:16px; left:-160px; top:4px; background-repeat:no-repeat;background-position:top left;}
.imenus_v .imeam_icon3 span{background-image:url(navMenu/icon08.png); width:18px; height:16px; left:-160px; top:4px; background-repeat:no-repeat;background-position:top left;}
.imenus_v .imeam_icon1 span{background-image:url(navMenu/icon09.png); width:18px; height:16px; left:-160px; top:4px; background-repeat:no-repeat;background-position:top left;}
/*主菜单图标*/
.imenus_v .imeam span,.imenus_v .imeamj span {background-image:url(navMenu/light_arrow_right.gif); width:6px; height:9px; left:-6px; top:8px; background-repeat:no-repeat;background-position:top left;}
.imenus_v li:hover .imeam span,.imenus_v li a.iactive .imeamj span {background-image:url(navMenu/light_arrow_right.gif); background-repeat:no-repeat;background-position:top left;}
/* 子菜单图标*/
.imenus_v ul .imeas span,.imenus_v ul .imeasj span {background-image:url(navMenu/light_arrow_right.gif); width:6px; height:9px; left:-6px; top:3px; background-repeat:no-repeat;background-position:top left;}
.imenus_v ul li:hover .imeas span,.imenus_v ul li a.iactive .imeasj span {background-image:url(navMenu/light_arrow_right.gif); background-repeat:no-repeat;background-position:top left;}
/*主菜单容器*/
.imouter_v {border-style:none; border-color:#6a6a6a; border-width:1px; padding:10px; margin:0px; }
/*子菜单容器*/
.imenus_v li ul {background-image:url(navMenu/menuv_bg.jpg);background-repeat:repeat-x; background-position:0% 100%;
background-color:#c6c390; /*子菜单容器背景*/
border-style:solid; border-color:#333333; border-width:1px; padding:5px; margin:4px 0px 0px; }
/*主菜单项 */
.imenus_v li a, .imenus_v .imctitle {color:#d3de9f;background-image:url(navMenu/itemBg.jpg);background-repeat:repeat-x;  text-align:left; font-size:12px; font-weight:normal; text-decoration:none; height:27px;line-height:27px;border: solid 1px #c2b891; padding:0 8px 0 30px; margin:0px 0px 6px; }
.imenus_v li:hover>a {color:#ffffff;text-decoration:none; }
.imenus_v li a.ihover, .imde imenus0 a:hover {color:#ffffff;text-decoration:none;background-image:url(navMenu/itemBgHover.jpg); }
.imenus_v li a.iactive {}
/*子菜单项 */
.imenus_v ul a, .imenus_v .imsubc li .imctitle  {height:auto; background-color:transparent; background-image:none;color:#edf3d0; text-align:left; font-size:12px; font-weight:normal; text-decoration:none; border-style:none; border-color:#000000; border-width:1px; padding:2px 5px; margin:0px; }
.imenus_v ul li:hover>a {color:#edf3d0; text-decoration:underline; }
.imenus_v ul li a.ihover {color:#edf3d0; text-decoration:underline;background-image:none;}
.imenus_v ul li a.iactive {background-color:#4d4b24; }/*有下级时鼠标移入的背景色*/
/*nav_menu_v结构*/