/*文字出省略号*/
.text_slice{
	display:block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*文字出省略号*/

/*信息提示*/
.tooltip{
	width: 200px; 
	color:#000;
	text-decoration:none;
	text-align:left;
	display:block;
	word-wrap: break-word;
	word-break: break-all;
}
.tooltip_min{
	width: 80px; 
	color:#000;
	text-decoration:none;
	text-align:center;
	display:block;
	word-wrap: break-word;
	word-break: break-all;
}
.tooltip_mid{
	width: 130px; 
	color:#000;
	text-align:left;
	text-decoration:none;
	text-align:center;
	display:block;
	word-wrap: break-word;
	word-break: break-all;
}
.tooltip .top{
	padding: 30px 8px 0;
    background: url(tooltip/bt.gif) no-repeat top;
	display:block;
}
.tooltip .bottom{
	padding:3px 8px 15px;
	color: #548912;
    background: url(tooltip/bt.gif) no-repeat bottom;
	display:block;
}
.tooltip_min .top{
	padding: 25px 8px 0;
    background: url(tooltip/bt_min.gif) no-repeat top;
	display:block;
}
.tooltip_min .bottom{
	padding:3px 8px 5px;
	color: #548912;
    background: url(tooltip/bt_min.gif) no-repeat bottom;
	display:block;
}
.tooltip_mid .top{
	padding: 25px 8px 0;
	text-align:left;
	line-height:150%;
    background: url(tooltip/bt_mid.gif) no-repeat top;
	display:block;
}
.tooltip_mid .bottom{
	padding:3px 8px 5px;color: #548912;
	text-align:left;
	line-height:150%;
    background: url(tooltip/bt_mid.gif) no-repeat bottom;
	display:block;
}

#cursorMessageDiv {
	position: absolute;
	z-index: 99999;
	border: solid 1px #cc9933;
	background: #ffffcc;
	padding: 2px;
	margin: 0px;
	display: none;
}
/*信息提示*/